<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936800855868-c9u7m25gi0vgk0naf990iqpoidgkt6ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936800855868-c9u7m25gi0vgk0naf990iqpoidgkt6ns</string>
	<key>API_KEY</key>
	<string>AIzaSyCV5O5yVDXflbvQitfo1lG_rtaAPAkZVWk</string>
	<key>GCM_SENDER_ID</key>
	<string>936800855868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invy-app</string>
	<key>PROJECT_ID</key>
	<string>invy-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>invy-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936800855868:ios:767b1adde5683b31372039</string>
</dict>
</plist>