<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434214998297-pjmf5v725s6n0ds6qul5r8rihq80oatn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434214998297-pjmf5v725s6n0ds6qul5r8rihq80oatn</string>
	<key>API_KEY</key>
	<string>AIzaSyB3jXar0DvD7RGipQyMmX73Ig_lK0ty9tg</string>
	<key>GCM_SENDER_ID</key>
	<string>434214998297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invy-app.dev</string>
	<key>PROJECT_ID</key>
	<string>invy-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>invy-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434214998297:ios:1085ba9674da6649017588</string>
</dict>
</plist>